@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.navbar.navbar-expand-lg.bg-secondary{
    background: #6700a1;
    background: -moz-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: -webkit-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: linear-gradient(0deg, #6700a1 3%, #200022 61%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6700a1",endColorstr="#200022",GradientType=1);
}

i.fa-brands.fa-facebook.fa-2xl,
i.fa-brands.fa-github.fa-2xl,
i.fa-solid.fa-user.fa-2xl{
color: #fff;

}
i.fa-brands.fa-facebook.fa-2xl:hover{
    color: #0725ad;

}
i.fa-brands.fa-github.fa-2xl:hover{
    color: #00030e;

}
i.fa-solid.fa-user.fa-2xl:hover{
    color: #234079

}
.list-group{
    --bs-list-group-bg:transparent;
    --bs-list-group-border-color: transparent;

}
section.about{
    background: #6700a1;
    background: -moz-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: -webkit-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: linear-gradient(0deg, #6700a1 3%, #200022 61%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6700a1",endColorstr="#200022",GradientType=1);
    mArgin-top: 15 rem;
color: #fff
}

.rounded-circle.w-75{
    position: relative;
    z-index: 1;
    height: auto;
    width: 15rem !important;
    margin-left: 1rem;
    margin-top: -7.5rem;
}

h3{
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 2.5rem;
}


h1{
 margin-bottom: 1rem;
font-family:italic;
font-size: 4rem;
font-weight: 900;
margin-top: 0;
}
h2{
margin-top: 7.3rem;
margin-bottom: 3rem;
font-size: 2rem;
}


section.experiencia{
    background: #6700a1;
    background: -moz-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: -webkit-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: linear-gradient(0deg, #6700a1 3%, #200022 61%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6700a1",endColorstr="#200022",GradientType=1);
    font-size: 1.5rem;
    margin-top: 15 rem;
    color: #fff
    
}

section.educacion{
    background: #6700a1;
    background: -moz-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: -webkit-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: linear-gradient(0deg, #6700a1 3%, #200022 61%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6700a1",endColorstr="#200022",GradientType=1);
   font-size: 1.5rem;
    margin-top: 15 rem;
    color: #fff
}
section.Skills{
    background: #6700a1;
    background: -moz-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: -webkit-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: linear-gradient(0deg, #6700a1 3%, #200022 61%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6700a1",endColorstr="#200022",GradientType=1);
    font-size: 1rem;
   color: #fff
}

section.proyectos{
    background: #6700a1;
    background: -moz-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: -webkit-linear-gradient(0deg, #6700a1 3%, #200022 61%);
    background: linear-gradient(0deg, #6700a1 3%, #200022 61%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6700a1",endColorstr="#200022",GradientType=1);
    font-size: 1.5rem;
    margin-top: 15 rem;
    color: #fff 
}

section.dashboard{
background-color: #5a376e;
color: #000000;

}

.nav-link{
    color: #fff;
}
.nav-pills{
    max-block-size: 2rem;
}
div.col-2{
    margin-top: 6rem;
}
.container{
    margin-left: auto;
}
.nav-link.active{
line-height: inherit;
}